<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <h1>Stock Analysis</h1>
    </header>
    <div class="container mt-4">
        <form action="/results" method="post">
            <h2>My Portfolio</h2>
            <div class="form-group">
                <label for="user_id">User ID:</label>
                <select class="form-control" name="user_id" id="user_id" required></select>
            </div>
            <div class="form-group">
                <label for="tickers">Enter stock tickers (comma-separated):</label>
                <textarea class="form-control" name="tickers" id="tickers" rows="2" required></textarea>
            </div>
            <h2>My Watch List</h2>
            <div class="form-group">
                <label for="watch_list">Enter watch list tickers (comma-separated):</label>
                <textarea class="form-control" name="watch_list" id="watch_list" rows="2" required></textarea>
            </div>
            <div class="form-group">
                <label for="period">Period for average price (days):</label>
                <input class="form-control" type="number" name="period" id="period" value="152" required>
            </div>
            <div class="form-group">
                <label for="watch_list_period">Period for watch list (days):</label>
                <input class="form-control" type="number" name="watch_list_period" id="watch_list_period" value="150" required>
            </div>
            <div class="form-group">
                <label for="watch_list_trend_days">Trend check period (days):</label>
                <input class="form-control" type="number" name="watch_list_trend_days" id="watch_list_trend_days" value="30" required>
            </div>
            <button type="submit" class="btn btn-primary">Analyze</button>
        </form>
    </div>
    <script>
        function loadUserIds() {
            fetch('/user_data.json')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    var select = document.getElementById('user_id');
                    Object.keys(data).forEach(userId => {
                        var option = document.createElement('option');
                        option.value = userId;
                        option.text = userId;
                        select.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        document.addEventListener('DOMContentLoaded', function() {
            loadUserIds();
            document.getElementById('user_id').addEventListener('change', function() {
                var userId = this.value;
                if (userId) {
                    fetch('/user_data.json')
                        .then(response => response.json())
                        .then(data => {
                            if (data[userId]) {
                                document.getElementById('tickers').value = data[userId]['default_tickers'];
                                document.getElementById('watch_list').value = data[userId]['default_watch_list'];
                            }
                        })
                        .catch(error => console.error('Error:', error));
                }
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
